In [17]:
import pandas as pd
from scipy import stats
import seaborn as sns
import math 
import random
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [18]:
ml_file="/Users/pazilatn/Desktop/github/project-vu/resources/ml_clean_df.csv"
ml_df=pd.read_csv(ml_file)

In [42]:
ml_df.columns

Index(['FAMINCTC_A', 'RACEALLP_A', 'MAXEDUC_A', 'REGION', 'SEX_A', 'AGEP_A',
       'MHTHND_A', 'Region_wf'],
      dtype='object')

In [47]:
# sns.heatmap(ml_df.head().corr(), annot=True)
adult_precent_cov=pd.DataFrame(np.corrcoef(ml_df.T))
adult_precent_cov.columns=['FAMINCTC_A', 'RACEALLP_A', 'MAXEDUC_A', 'REGION', 'SEX_A', 'AGEP_A',
       'MHTHND_A', 'Region_wf']
adult_precent_cov.index=['FAMINCTC_A', 'RACEALLP_A', 'MAXEDUC_A', 'REGION', 'SEX_A', 'AGEP_A',
       'MHTHND_A', 'Region_wf']

In [46]:
adult_precent_cov

,FAMINCTC_A,RACEALLP_A,MAXEDUC_A,REGION,SEX_A,AGEP_A,MHTHND_A,Region_wf
FAMINCTC_A,1.000000,-0.050917,0.419144,0.035915,0.030835,-0.074398,NaN,0.144715
RACEALLP_A,-0.050917,1.000000,-0.120676,0.057102,-0.025832,-0.043895,NaN,0.021452
MAXEDUC_A,0.419144,-0.120676,1.000000,0.049350,0.058393,-0.091100,NaN,0.113944
REGION,0.035915,0.057102,0.049350,1.000000,0.003784,-0.022137,NaN,-0.034615
SEX_A,0.030835,-0.025832,0.058393,0.003784,1.000000,0.009157,NaN,0.017769
AGEP_A,-0.074398,-0.043895,-0.091100,-0.022137,0.009157,1.000000,NaN,-0.006108
MHTHND_A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Region_wf,0.144715,0.021452,0.113944,-0.034615,0.017769,-0.006108,NaN,1.000000

In [20]:
X=ml_df.drop(columns="MHTHND_A")
y=ml_df["MHTHND_A"]

In [21]:
y.value_counts()

2    29851
1     1252
Name: MHTHND_A, dtype: int64

In [22]:
y=y.replace({2:0})
y.value_counts()

0    29851
1     1252
Name: MHTHND_A, dtype: int64

In [23]:
from sklearn.preprocessing import StandardScaler
X_scaler= StandardScaler().fit(X)

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test =train_test_split(X,
    y, random_state=1)

In [25]:
X_train= X_scaler.transform(X_train)
X_test= X_scaler.transform(X_test)

In [26]:
from imblearn.ensemble import BalancedRandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.metrics import balanced_accuracy_score
from imblearn.metrics import classification_report_imbalanced

classifier = LogisticRegression(solver='lbfgs', random_state=1)
classifier

LogisticRegression(random_state=1)

In [27]:
classifier.fit(X_train, y_train)

LogisticRegression(random_state=1)

In [28]:
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

       Prediction  Actual
9223            0       0
2085            0       1
18174           0       0
17247           0       0
12163           0       1
...           ...     ...
21201           0       0
29505           0       0
181             0       0
4414            0       0
5611            0       0

[7776 rows x 2 columns]

In [29]:
accuracy_score(y_test, predictions)

0.9588477366255144

In [30]:
import numpy as np
import matplotlib.pyplot as plt
new_data = np.array([[-2, 6]])
plt.scatter(X[:, 0], X[:, 1], c=y)
# plt.scatter(new_data[0, 0], new_data[0, 1], c="r", marker="o", s=100)
# plt.show()

TypeError: '(slice(None, None, None), 0)' is an invalid key

In [ ]:
new_data

array([[-2,  6]])